# Dependencies
node_modules/

# Environment variables
.env
data.json
data2.json
.env.local
# Uploads directory
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
